
.filter-section {
  row-gap: 16px;
  margin-bottom: 10px;
}

.filter-section .form-select {
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ced4da;
  background-color: #fff;
  transition: 0.2s ease-in-out;
}

.filter-section .form-select:hover {
  border-color: #86b7fe;
}

.filter-section .form-select:focus {
  border-color: #0d6efd;
  box-shadow: 0 0 0 2px rgba(13, 110, 253, 0.25);
}

 .filter-section .row p {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
}

@media (max-width: 768px) {
  .filter-section .col-3 {
    width: 50%;
    margin-bottom: 12px;
  }
}

@media (max-width: 576px) {
 .filter-section  .col-3 {
    width: 100%;
  }
}
